<div class="container">
  <center>
    <br>
    <%= link_to "Посты", admin_posts_path%>
    <br>
    <br>
    <% @posts.each do |post| %>
      <%= bootstrap_form_for(post) do |f| %>
        <%= f.static_control :message, skip_label: true %>
      <% end %>
    <% end %>
  </center>
</div>
