<div class="container">
  <center><h1>Посты</h1></center>
  <br>
  <% @posts.each do |post| %>
    <%= bootstrap_form_for(post) do |f| %>        
      <%= f.static_control :message, skip_label: true %>
      <hr>
    <% end %>
  <% end %>
</div>
<br>

<%= link_to 'New Post', new_post_path %>
